<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="ee8fc56d-55cb-4f4a-b3d2-642e37edd210"
    Publisher="CN=Санька Четвёртый"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>3DShortcut</DisplayName>
    <PublisherDisplayName>Санька Четвёртый</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Создать 3D ярлык"
        Description="Приложения для создания 3D ярлыков в мирах смешанной реальности."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png">
			<uap5:MixedRealityModel Path="Images\3DTile.glb" />
 	    </uap:DefaultTile>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.appService">
				<uap:AppService Name="3DLauncherInterSvc" />
			</uap:Extension>
			<desktop:Extension
			  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
			  Category="windows.fullTrustProcess"
			  Executable="MiXLaunch\MiXLaunch.exe" />
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="objects3D"/>
  </Capabilities>
</Package>
